<style>
button{
	width: 70px;
}
.entrada-content{
	height: 60px;
	width: 350px;

}
.entrada{
border-style: solid;
border-width: 2px;
border-color: #337ab7;
background-color: lightgrey;
border-radius: 10px;
padding: 2px;
height: 50px;
font-size: 30px;
text-align: right;
}

</style>
<div class="container">
	<div class="row">
		&nbsp;
	</div>
		<div class="row entrada-content">
			<div class="entrada">
				
					{{$ctrl.entrada}}
				
				
			</div>
		</div>

		<div class="row">
			<div class="btn-group" role="group">
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.limpia()">CE</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.borra()">C</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.back()">&larr;</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.operacion('/')">/</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.memfunc('MS')">MS</button>
			</div>
		</div>

		<div class="row">
			<div class="btn-group" role="group">
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(7)">7</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(8)">8</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(9)">9</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.operacion('*')">x</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.memfunc('MC')">MC</button>
			</div>
		</div>

		<div class="row">
			<div class="btn-group" role="group">
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(4)">4</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(5)">5</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(6)">6</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.operacion('-')">-</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.memfunc('MR')">MR</button>
			</div>
		</div>

		<div class="row">
			<div class="btn-group" role="group">
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(1)">1</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(2)">2</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(3)">3</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.operacion('+')">+</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.memfunc('M+')">M+</button>
			</div>
		</div>
		<div class="row">
			<div class="btn-group" role="group">
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.cambiaSigno()">+/-</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.digito(0)">0</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.punto()">.</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.operacion('=')">=</button>
				<button class="btn btn-primary btn-lg" ng-click="$ctrl.memfunc('M-')">M -</button>
			</div>
		</div>


	
</div>
